@using Microsoft.AspNetCore.Identity
@inject SignInManager<FreeSpace.Models.ApplicationUser> SignInManager
@inject UserManager<FreeSpace.Models.ApplicationUser> UserManager
@{
    var currentUser = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreyCubeBR</title>
    <link rel="icon" type="image/x-icon" href="/icon/tag-projeto.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FreeSpace.styles.css" asp-append-version="true" />
</head>
<body class="background-fs text-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm background-fsnav border-bottom box-shadow mb-3 text-light">
            <div class="container">
                
                <a class="navbar-brand fw-bold txt-p1 nav-link d-flex align-items-center" asp-area="" asp-page="/Index">
                    <img src="/icon/tag-projeto.png" class="me-2" style="width: 30px; height: 30px;"/>
                    <span>GreyCubeBR</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
@*                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div> *@
                @if(!SignInManager.IsSignedIn(User))
                {
                    <div>
                        <a class="nav-link txt-p2 fw-bold" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>
                        
                }
                else
                {
                    <div class="d-flex align-items-center gap-2">
                        <a class="nav-link d-inline-flex align-items-center p-0" asp-route-id="@currentUser?.Id" asp-page="/Posts/Profile">
                                <img src="@currentUser?.PhotoPath" alt="Avatar" style="width:45px; height:45px;" class="rounded-circle ">
                                <span class="user-name txt-p2 nav-link">@User.Identity?.Name</span>
                        </a>
                        <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                            <button type="submit" class="btn nav-link ms-4" style="color: red">Sair</button>
                        </form>
                    </div>     
                }

            </div>
        </nav>
    </header>
    <div class="container d-flex justify-content-center">
        <main role="main" class="pb-3 col-12 col-md-8 col-lg-6 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FreeSpace - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>