html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-1 {
    border-radius: 0.125rem !important;
}
/* pequeno */
.rounded-2 {
    border-radius: 0.25rem !important;
}
/* mediano */
.rounded-3 {
    border-radius: 0.5rem !important;
}
/* padrão bootstrap */
.rounded-4 {
    border-radius: 0.75rem !important;
}
/* maior */
.rounded-5 {
    border-radius: 1rem !important;
}
/* bem arredondado */